/* .login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.ant-form-item-required::before {
  content: none !important;
}
.ant-form-item {
  margin-bottom: 10px !important;
} */
