.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hcenter-container {
    text-align: center;
}

.hcenter {
    margin-left: auto;
    margin-right: auto;
}

.sidebar {
    position: relative;
    display: flex;
    align-items: center;
    /* min-height: 100vh; */
    width: 100%;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* form */
.group-item {
    margin-bottom: 8px !important
}

.row {
    padding: 16px;
    width: 100%;
}

.spin {
    position: fixed;
    left: 50vw;
    top: 50vh;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.square-104 {
    width: 104px;
    width: 104px;
}

.square-144 {
    width: 144px;
    height: 144px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.ellipsis-2lns {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    line-clamp: 2;
    text-align: justify;  
    box-orient: vertical;
    line-height: 1.5;
    max-height: 42px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

.block-with-text {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative; 
    /* use this value to count block height */
    line-height: 1.5em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3em; 
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;  
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
}
  /* create the ... */
.block-with-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}
  /* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
}
  